.content{
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}
.head{
    width: 40%;
    margin: 6% 4%;
}
.head p{
    align-items: justify;
}
#online{
    font-size: 38px;
    color: #5654d7;
}
#education{
    font-weight: 300;
    margin-bottom: 6%;
}
.head button{
    cursor: pointer;
    padding: 3% 6%;
    background-color: #5654d7;
    color: white;
    margin: 10% 0;
    border: none;
    border-radius: 10px;
}