*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2da7a7;
}
.main{
  display: flex;
  justify-content: space-around;
  margin: 8% 2%;
}
.content{
  width: 40%;
  margin-right: 6%;
 
  color: white;
  padding: 4%;
}
.content h1{
  margin-bottom: 10%;
}
.content p{
  text-align: justify;
  line-height: 1.5;
}
.form{
  
  padding: 4%;
}
.form input{
  padding: 1.3% 0;
  background-color: white;
  border: none;
}
.divide{
  margin:  2%;
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.divide input{
  padding: 2% 2.5%;
  width: 45%;
}
.full input{
  padding: 2% 2.5%;
  margin:  2%;
  width: 100%;
}
.help input{
  padding-bottom: 15%;
}
.form button{
  margin:  2%;
  padding: 3% 18%;
  background-color: #d34b35;
  color: white;
  border: none;
}